<!DOCTYPE html>
<html>
<head>
	<title>FOLIO INDEX</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../assets/request.css">
	<link rel="stylesheet" href="../assets/userlogin.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <ul>
  		<li style="float:left;margin-left:20px;"><a id="folioPage" class="active" style="text-decoration:none;" href="/folio">MONMAN</a></li>
  		<li style="float:right;margin-right:10px" id="flip"><a class="active" style="text-decoration:none;" href="/logout">Logout</a></li>
	</ul>
	<style type="text/css">
		hr{
			border-color: #696464;
		}
		body {
			font-family: 'Roboto', sans-serif;
		}
	</style>
</head>
<body>
	<div id="navbar" style="z-index:1000;position:relative;width:auto;height:auto;"></div>
	<div style="height:100%;width:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.5);" id="popupbg">
		<div id="popup">
				<h3>Please enter your password to confirm:</h3>
				<p><b>Note: All data associated with the folio will be removed!</b></p>
				<input id="pass" type="password"/>
				<button id="true" class="btn btn-success pass_con">Ok</button>  
				<button id="false" class="btn btn-danger pass_con">Cancel</button> 
		</div>
	</div>
	<div class="data">
		<h2>FOLIO INDEX</h2>
		<h4>Welcome to MONMAN <%=name%> &#128578</h4>
		<h3>
			<div class="form-inline">
				<input class="form-control" type="text" placeholder="Search" style="margin-left:30%;width:40%;">
				<button type="button" class="btn btn-info">Find</button>
			</div>
			<br>
			<p>
				<button type="button" onclick="add()" class="btn-md btn-dark">Add New Transaction</button>
			</p>
		</h3>
		<hr>
		<table id="folioIndex">
			<tr id="head">
				<!-- <th>S.NO</th> -->
				<th>Folio Name</th>
				<th>Credit</th>
				<th>Debit</th>
				<th>Balance</th>
				<th>Remarks</th>
			</tr>
			<tr id="addFolio">
				<!-- <td></td> -->
				<td><input type="text" class="form-control" id="fname"></td>
				<td><input type="number" class="form-control" id="fcre" disabled value=0></td>
				<td><input type="number" class="form-control" id="fdeb" disabled value=0></td>
				<td><input type="number" class="form-control" id="fbal" disabled value=0></td>
				<td><input type="text" placeholder="optional" class="form-control" id="frem"></td>
				<td><button type="button" class="btn-sm btn-outline-success" onclick="addNewFolio()">Add</button></td>
				<td><button type="button" class="btn-sm btn-outline-danger" onclick="can()">Cancel</button></td>
			</tr>
            <tr class="clickable" id="1" onclick="gotoDetails(this)">
				<!-- <td>1</td> -->
                <td>Arjun C R</td>
                <td>3000</td>
                <td>2000</td>
                <td>5000</td>
                <td>This is a test data</td>
            </tr>
            <tr class="clickable" id="2" onclick="gotoDetails(this)">
				<!-- <td>2</td> -->
                <td>Aruna C R</td>
                <td>2122200</td>
                <td>1022</td>
                <td>102122</td>
                <td>Test data</td>
            </tr>
		</table>
	</div>
</body>
<script>
$("#popupbg").hide();
$("#addFolio").hide();

//To go to details of folio --------------------------------------------------
function gotoDetails(the) {
	window.location = "/details?name="+$(the).attr("id");
}

// Adding and cancelling new folios----------------------------------------------
function add() {
	$("#addFolio").show();	
}
function addNewFolio() {
	var name = $.trim($("#fname").val());
	var remarks = $.trim($("#frem").val());
	var credit = $.trim($("#fcre").val());
	var debit = $.trim($("#fdeb").val());
	var balance = $.trim($("#fbal").val());
	if(name!="")
		alert("Successfully added!");
	else
		alert("Missing details!");
	can();
	$.ajax({
		type:"POST",
		data:"name:"+name,
		url:"/newFolio",
		success:function(data) {
			if(data!="failed") {
				alert("Successfully added!");
				var row = '<tr class="clickable" id="'+data+'" onclick="gotoDetails(this)">';
				row += '<td>'+name+'</td><td>'+credit+'</td><td>'+debit+'</td><td>'+balance+'</td><td>'+remarks+'</td>';
				row += '</tr>';
				$("#folioIndex").append(row);
			}
			else {
				alert("Error: Unable to create new folio!");
			}
		}
	});
}
function can() {
	$("#fname").val("");
	$("#frem").val("");
	$("#fcre").val(0);
	$("#fdeb").val(0);
	$("#fbal").val(0);
	$("#addFolio").hide();
}

// To remove a folio -----------------------------------------------------------------
$(".pass_con").on("click",function()
{
	forpass($(this).attr("id"));
});
function forpass(str){
	if(str=="true")
		alert("Folio successfully removed!"+document.getElementById("pass").value);
	$("#popupbg").hide();
}
function removeFolio(the){ 
	var name = the.dataset.name;
	var con = confirm("Are you sure you want to remove folio of "+name+"?");
	if(con)
		$("#popupbg").show();
}

// For Hover effect on table rows-------------------------------------------------------------------
$("#folioIndex tr").hover(function() {
	if($(this).attr("id")!="head"&&$(this).attr("id")!="addFolio") {
		var name = $(this).children(":first").html();
		$(this).append("<td><button type='button' class='btn btn-dark'data-name='"+name+"' onclick='event.stopPropagation();removeFolio(this);'>X</button></td>");
	}
}, function(){
	if($(this).attr("id")!="head"&&$(this).attr("id")!="addFolio")
		$(this).find("td").last().remove();
});

// To autofill the Balance ----------------------------------------------------------------------------------------
$('#fcre').change( function() {
	if($("#fcre").val()!="") { 
		var bal = parseInt(parseInt($("#fcre").val()) - parseInt($("#fdeb").val()));
		$("#fbal").val(bal);
	}
});

$('#fdeb').change( function() {
	if($("#fdeb").val()!="")
		$("#fbal").val(parseInt(parseInt($("#fcre").val()) - parseInt($("#fdeb").val())));
});

</script>
</html>