<!DOCTYPE html>
<html>
<head>
	<title>MONMAN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="../assets/login.css">
	<ul>
    <li style="float:left;margin-left:20px;"><a id="monman" class="active" style="text-decoration:none;" href="/folio">MONMAN</a></li>
  <!-- <li style="float:right;margin-right:10px" id="flip"><a class="active" style="text-decoration:none;">Developers</a></li> -->
</ul>
</head>
<body>
	<div id="navbar" style="z-index:1000;position:relative;width:auto;height:auto;"></div>
		<form id="loginForm">
			<div class="form-group col-lg-3 col-sm-offset-4" style="padding-top: 4%;text-align:center;">
				<div class="inputBg">
					<h3>MONMAN</h3>
					<h5 style="color: royalblue;"><%=msg%></h5><hr>
          <div class="alert-danger" id="invalid"></div><br>
          <label for="username" style="float:left;margin-bottom:10px;">Username <span class="required-input">*</span> </label>
					<input type="text" id="username" name="username" placeholder="username" class="form-control">
					<p id="empty_username" class="alert-danger" hidden></p><br>
          <label for="password" style="float:left;margin-bottom:10px;">Password <span class="required-input">*</span> </label>
					<input type="password" id="password" name="password" placeholder="Password" class="form-control">
					<p id="empty_password" class="alert-danger" hidden>Enter your password</p><br>
          <div>
			<p><button type="buton" id="submit_btn" name="login" class="btn btn-primary btn-lg" style="width:150px;">Login</button></p>
			<p><button type="buton" id="register_btn" name="register" class="btn btn-warning btn-lg" style="width:150px;">Register</button></p>
          </div>
				</div>
			</div>
		</form>
	</div>
</body>
  <script type="text/javascript">
    //To populate college names 
	$("#loginForm").submit(function(e){
		return false;
	});
    //Display errormsg
  	function errordisplay(id, msg)
  	{
  		$("#"+id).html(msg).show();
	  }
	  
	//Redirect to registration
	$("#register_btn").click(function() {
		window.location.href = "/register";
	});

    //Login validation
  	$("#submit_btn").click(function() {
  		if(!$("#username").val())
  		{
  			errordisplay("empty_username","Enter your username");
  		}
  		else
  			$("#empty_username").hide();
  		if(!$("#password").val())
  		{
  			errordisplay("empty_password","Enter your password");
  		}
  		else
  			$("#empty_password").hide();
  		if(!$("#empty_password").is(":visible")&&!($("#empty_username").is(":visible")))
  		{
			var isValid=true;
			var uname = $("#username").val();
  			var pwd = $("#password").val();
			var urldata = "username="+uname+"&password="+pwd;
			if(isValid) {
				$("#empty_password").hide();
					$.ajax({
						type:"POST",
						url:"/authenticate",
						data: urldata,
						success:function(data)
						{
						if(data==="error1")
							errordisplay("empty_password","Incorrect username!");
						else if(data==="error2")
							errordisplay("empty_password","Incorrect password!");
						else if(data==="success")
							window.location.href = "/folio";
    				}
    			});
        }
      }
  	});
  </script>
</html>